<table><tr><td>
<p>
  <strong>User:</strong>
  <%= current_user.email %><br/>
</p>

<ul>
  <% for following in @user.followings %>
    <li>Following:
      <%=h following.followed.email %>
      (<%= link_to "remove", following, :method => :delete %>)
    </li>
  <% end %>
</ul></td><br>
<td>
<ul>


  <br>
  <% for tweet in @tweets%>
     <br> <strong><%= tweet.content %></strong> TWEETED BY: <%= tweet.user.email %>
  <% end %>
</ul></td></tr></table>

<p><%= link_to "Find users to follow", users_path %></p>


<h3>Following You:</h3>
  <ul>
    <% for user in @user.inverse_followings %>
      <li><%=h user.user_email %></li>
    <% end %>
  </ul>
